
$body-bg: #F0F3F9;
$card-bg: #FFF;
$text-color: #091E42;
$text-color-1: #FF22A1;
$text-danger-color: #FF4F4F;
$border-color-1: #D3DDEB;
$border-color-2: #D6DFE8;

$text-color-3-light: #64748B;
$text-color-3-dark: #8598B2;


// Dark Theme
$body-bg-dark: #18243E;
$card-bg-dark: #00162D;
$text-color-dark: #FFF;
$text-color-dark-1: #64748B;
$text-color-dark-2: #4C5A6E;
$border-color-dark-1: rgba(255, 255, 255, 0.2);

$active-color: #FF22A1;









































$color-primary: #004080;
$color-secondary: #355262;
$color-bg-1: #22b14b;
$color-success: #22B14C;
